.jumbotron {
    background-image: url(https://i.ytimg.com/vi/KuDn-EWuZew/maxresdefault.jpg);
    color: whitesmoke;
    text-emphasis: bold;
    border: brown;
}

.card-header {
    color: gray;

}

.card-body {
    color:teal;
    border: grey;
}